*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    color: rgb(55, 55, 55);
    background-color: rgb(253, 253, 253);
    
}

h1{ font-size: 3em;}

h2{ 
    font-size: 2.1em;
    padding: 30px 0 0 8px;
 }
/*  */
h3{ font-size: 1.2em; }
p{ font-size: 1em; }
ul, ol{ list-style: none; }

li{ 
    font-size: 1.2em;
    text-decoration: none; 
}

button{
    font-size: 1.1em;
    padding: 5px 30px;
    border-radius: 2em;
    border: none;
    color: #FFF;
    background-color: #197F5B;
}

button:hover{
    background-color: #125E44;
}

a{ 
    text-decoration: none;
    color: #FFF;
    padding: .35rem;
}

a:hover{
    color: #ef9919;
}

.container{
    max-width: 80vw;
    margin: auto;
}


/* Estilar el input del menu hamburguesa */

nav{
    background-color: #197F5B;
    height: 2.9rem;
}

.bars{
    position: absolute;
    top: .8rem;
    right: 2rem;
} 

input#menu-hamburgesa{
    visibility: hidden;
}

input#menu-hamburgesa ~ ol{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #125e44;
    opacity: 95%;
    position: absolute;
    width: 100%;
    top: 2.9rem;
    right: 100%;
    transition: all 300ms linear;
    padding: 1rem;
    z-index: 1;    
}

input#menu-hamburgesa:checked ~ ol{
    right: 0;
}


/* Estilar el header */

header{
    display: flex;
    justify-content: center;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 85vh;
}

.title{
    position: absolute;
    top: 5vh;
}

header h1{
    color: #ef9919;
    font-size: 2em;
    top: 100px;
    padding-top: 50px;
    width: 90vw;
    
}

header h1 span{
    font-weight:lighter;
    color: rgb(253, 253, 253);
}

header > div > p{
    width: 92vw;
    color: rgb(253, 253, 253);
    position: absolute;
    top: 132px;
}

.info-exp{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 250px;
    left: 15px;
    width: 440px;
    height: 200px;
}

.info-exp p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF;
    border-radius: 30px;
    padding: 2.5px 17px;
    font-size: .8em;
    width: 120px;
    height: 55px;
}

.info-exp p:last-child{
    position: absolute;
    right: 0;
    bottom: 0;
}

.info-exp p span{
    color: #ef9919;
}

.info-exp p:first-child{
    left: 2px;
}

.redes{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    margin-top:150px;
    height: 100px;
    top: 400px;
}

.redes img{
    width: 50px;
    padding: 7px;   
    background-color: rgb(253, 253, 253);
    border-radius: 24px;
    
}

.redes a:nth-of-type(2){
    position: absolute;
    bottom: 0;
    left: 125px;
}

header > img:nth-child(1){
    position: absolute;
    width: 53.8vw;
    top: 34.5vh;   
}

header > img:nth-child(2){
    top: 8px;
    position: absolute;
    z-index: -1;
    width: 96.3vw;
    max-width: 500px;
}


/* Estilar el formulario de colaborations */

.colaborations{
    text-align: center;
    background-color: #f9f5f2;
    padding: 15px;
    margin: 0 15px;
    font-size: 1.2em;

}

.colaborations p{
    padding-bottom: 10px;
}

input{
    border: 0;
    background-color: #ede4db;
    border-radius: 20px;
    height: 40px;
    width: 400px;
    outline: none;
}

.formulario{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.formulario button{
    position: absolute;
    left: calc(400px - 103px)

}

[placeholder]{
    padding: 0 15px;
}


/* Estilar el Acerca de mí */

.about .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}

.about h2{
    padding-bottom: 15px;
}

.about button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 45px;
}

.about p{
    padding-bottom: 35px;
}


/* Estilar Estudios */

.study .container {
    display: flex;
    text-align: center;
}

.study .study-uno{
    padding: 15px 0;
    margin: 8px;
    border-radius: 20px;
    background-color:#f9f5f2;
    width: 50vw;
}

.study .study-dos{
    padding: 15px 0;
    margin: 8px;
    border-radius: 20px;
    background-color:#f9f5f2;
    width: 50vw;
}

.study .container p:nth-child(3){
    font-size: .85rem;
}

.study .study-uno img{
    width: 80px;
    padding: 16px 0;
}

.study {
    text-align: center;
}


/* Estilar Mis habilidades */

#skills{
    text-align: center;
}

#skills .container{
    text-align: left;
    font-weight: bold;
    padding-top: 22px; 
}

#skills span{
    font-size: .7em;
    color:#125E44
}

#skills .barra-skill{
    height: 16px;
    border-radius: 10px;
    background-color:#ede4db;
    margin: 7px 0 20px 0;
}

#skills .barra-progreso1{
    height: 16px;
    border-radius: 10px;
    background-color:#197F5B;
    width: 30%;
}

#skills .barra-progreso2{
    height: 16px;
    border-radius: 10px;
    background-color:#197F5B;
    width: 0%;
}

#skills .barra-progreso3{
    height: 16px;
    border-radius: 10px;
    background-color:#197F5B;
    width: 0;
}


/* Estilar Experiencia */

#exp{
    background-color:#f9f5f2;
    text-align: center;
}

#exp .container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

#exp .container > div{
    margin: 0 15px;
}

#exp .container > div > p:last-child{
    font-size: .9em;
    font-weight: bold;
    
}

#exp .container > div > span{
    color: blueviolet;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 5.7em;
    font-weight: bolder;
}


/* Estilar Mi Portafolio */

#portfolio{
    text-align: center;
}

#portfolio .container{
    display: flex;
    justify-content: space-around;
}

#portfolio div a{
    color:rgb(55, 55, 55);
    font-size: smaller;
}

#portfolio div a:hover{
    color: #ef9919;
}

.img-portafolio img{
    width: 83vw;
}

.img-portafolio img:nth-child(2){
    width: 40vw;
}

.img-portafolio img:nth-child(3){
    width: 40vw
}


/* Estilar Contacto */

#contact{
    text-align: center;
}

#contact h2{
    padding-bottom: 30px;
}

#contact .container{
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

#contact .container div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact .container div p{
    font-size: 0.87rem;
    color: rgb(161, 161, 161);
}

#contact .container div h3{
    color: rgb(55, 55, 55);
}

#contact .container div img{
    background-color: #f9f5f2;
    border-radius: 32px;
    padding: 15px;
}


/* Estilar footer */

footer{
    background-color: #197F5B;
}

footer div *{
    display: flex;
    justify-content: center;
    color:#FFF;
}

footer div h3{
    padding: 30px 0 20px 0;
    font-size:xx-large;
}

footer div p{
    font-size: 1.1rem;
    padding-bottom: 20px;
}