*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    color: rgb(55, 55, 55);
    background-color: rgb(253, 253, 253);
}

h1{ font-size: 3em;}

h2{ 
    font-size: 2.1em;
    padding: 30px 0 0 8px;
 }

h3{ font-size: 1.2em; }
p{ font-size: 1em; }
ul, ol{ list-style: none; }

li{ 
    font-size: 1.2em;
    text-decoration: none; 
}

button{
    font-size: 1.1em;
    padding: 5px 30px;
    border-radius: 2em;
    border: none;
    color: #FFF;
    background-color: #197F5B;
}

button:hover{
    background-color: #125E44;
}

a{ 
    text-decoration: none;
    color: #FFF;
    padding: .35rem;
}

a:hover{
    color: #ef9919;
}

.container{
    max-width: 80vw;
    margin: auto;
}


/* Estilar el input del menu hamburguesa */

nav{
    background-color: #197F5B;
    height: 2.9rem;
}

.bars{
    position: absolute;
    top: .8rem;
    right: 2rem;
} 

input#menu-hamburgesa{
    visibility: hidden;
}

input#menu-hamburgesa ~ ol{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #125e44;
    opacity: 95%;
    position: absolute;
    width: 100%;
    top: 2.9rem;
    right: 100%;
    transition: all 300ms linear;
    padding: 1rem;
    z-index: 1;    
}

input#menu-hamburgesa:checked ~ ol{
    right: 0;
}


/* Estilar el header */

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #197F5B;
    height: 80vh;
}

header .container h1{
    color: #ef9919;
    font-size: 2em;
    top: 20px;
    padding-top: 50px;
    
}

header h1 span{
    font-weight:lighter;
    color: #FFF
}

header > div > p{
    color: #FFF;
    padding-bottom: 20px;
}

.info-exp{
    display: flex;
    flex-direction: row;
    width: 306px;
    justify-content: space-between;
}


header .info-exp p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF;
    border-radius: 25px;
    padding: 2.5px 17px;
    font-size: .7em;
    width: 109px;
}

header .info-exp p:first-child{
    margin-top: 30px 0;
}

header .info-exp p span{
    color: #ef9919;
}

header .info-exp p:first-child{
    left: 2px;
}

header .redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 210px;
    margin-top:150px;
}

header .redes img{
    width: 45px;
    padding: 6px;   
    background-color: #FFF;
    border-radius: 24px;
    /* border: 1px solid black; */
}

/* header .redes > *:nth-child(odd){
    border: 1px solid black;
}

header .redes > *:nth-child(2){
    border: 1px solid red;
} */


/* Estilar el formulario de colaborations */

.colaborations{
    text-align: center;
    background-color: #f9f5f2;
    padding: 15px;
    margin: 0 15px;
    font-size: 1.2em;
}

.colaborations p{
    padding-bottom: 7px;
}

input{
    border: 0;
    background-color: #ede4db;
    border-radius: 20px;
    height: 40px;
    width: 400px;
    outline: none;
}

.formulario{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.formulario button{
    position: absolute;

}

[placeholder]{
    padding: 0 15px;
}

.about .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}

.about button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
}

.about p{
    padding-bottom: 20px;
}

.study .container {
    display: flex;
    text-align: center;
}

.study .study-uno{
    padding: 15px 0;
    margin: 8px;
    border-radius: 20px;
    background-color:#f9f5f2;
    width: 50vw;
}

.study .study-dos{
    padding: 15px 0;
    margin: 8px;
    border-radius: 20px;
    background-color:#f9f5f2;
    width: 50vw;
}

.study .container p:nth-child(3){
    font-size: .85rem;
}

.study .study-uno img{
    width: 80px;
    padding: 16px 0;
}

.study {
    text-align: center;
}

#skills{
    text-align: center;
}

#skills .container{
    text-align: left;
    font-weight: bold;
    padding-top: 22px; 
}

#skills span{
    font-size: .7em;
    color:#125E44
}

#skills .barra-skill{
    height: 16px;
    border-radius: 10px;
    background-color:#ede4db;
    margin: 7px 0 20px 0;
}

#skills .barra-progreso1{
    height: 16px;
    border-radius: 10px;
    background-color:#197F5B;
    width: 80%;
}

#skills .barra-progreso2{
    height: 16px;
    border-radius: 10px;
    background-color:#197F5B;
    width: 95%;
}

#skills .barra-progreso3{
    height: 16px;
    border-radius: 10px;
    background-color:#197F5B;
    width: 75%;
}

#exp{
    background-color:#f9f5f2;
    text-align: center;
}

#exp .container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

#exp .container > div{
    margin: 0 15px;
}

#exp .container > div > p:last-child{
    font-size: .9em;
    font-weight: bold;
    
}

#exp .container > div > span{
    color: blueviolet;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 5.7em;
    font-weight: bolder;
}